
.logo{
  width: 80px;
  height: 80px;
}


body{
  margin: 0;
  font-family: Calibri;
  background-color: #00171F;
  color: white;
}
html{
  background-color: #00171F;
}

.movies{

}

.Card{
  height: 200px;
  width: 100%;
  background-color: #00A7E1;
  border: solid 20px #00171F;
  border-radius: 50px;
  padding: 2%;
}

.card-atag{
  cursor: pointer;
  text-decoration: #2B3A67;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003459;;
}

li a {
  font-size: 22px;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  border: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  color: #007EA7;
  text-decoration: none;
}

.wrapper{
  width: 40%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.login{
  margin-top: 10px;
  color: white;
  font-size: 40px;
  width: 20%;
  height: 30%;
  background-color: #00A7E1;
  border: none;
}

.login:hover{
  background-color: #007EA7;
  cursor: pointer;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);

}

.js-input {
  width: 100%;
  height: 25px;
  margin: auto auto 10px;
}

.show-container-element {
  margin: auto;
  display: block;
  height: 200px;
  width: 800px;
  outline: 2px solid black;
  cursor: pointer;

}

.show-container-element-image {
  height: 200px;
  width: 200px;
  float: left;
  outline: 2px solid black;
}

.show-container-element-content {
  height: 190px;
  width: 580px;
  float: right;
  margin-right: 10px;
}

.show-container-element-content-title {
  font-size: 30px;
  color: black;
  height: 40px;
  width: 300px;
  text-align: center;
  margin: auto;
}

.show-container-element-content-text {
  height: 100px;
  width: 300px;
  margin: auto;
}

.show-container-element-divider {
  height: 20px;
}

.container{
  margin: auto;
  width: 75%;
}

